{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "util/style"
      }
    ]
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "value-keyword-case": ["lower", {"ignoreKeywords": ["/^[A-Za-z]+$/"]}],
    "property-no-vendor-prefix": true
  }
}
